In [5]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''

a='week1'
type(a)
b=[1,2,3]
type(b)
c=101.51
type(c)
d=(1,2,3)
type(d)

#we can store all types of data in list itself
l=['week1',[1,2,3],101.51,(1,2,3)]
for i in l:
    print(type(i))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''

i. str
ii. str
iii. list
iv. int

'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** '''

i. '/' it is divison operator it performs division operation and gives quotioent
    example : 5/2 = 2.5
  
ii. '%' it is modulo operator it will give reminder
    example : 5%2 = 1
    
iii. '//' it is floor division or truncate divion it will give floor value of the quotient
    example: 5//2 = 2
    
iv. '**' it is power operator 
    example: 5**2 = 25

In [15]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''
l=[1,2,3.0,[4,5],'six','seven',(8,9),True,False,10]
for i in l:
    print('element is',i,'type of element is',type(i))

element is 1 type of element is <class 'int'>
element is 2 type of element is <class 'int'>
element is 3.0 type of element is <class 'float'>
element is [4, 5] type of element is <class 'list'>
element is six type of element is <class 'str'>
element is seven type of element is <class 'str'>
element is (8, 9) type of element is <class 'tuple'>
element is True type of element is <class 'bool'>
element is False type of element is <class 'bool'>
element is 10 type of element is <class 'int'>

In [14]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

''' for this example consider a=100 and b=10'''
a=100
b=10
i=1
count=0
while i<=b:
    if a%i==0:
        print('for b=',i,'it can divide',a,'in',a//i,'times')
    i+=1

for b= 1 it can divide 100 in 100 times
for b= 2 it can divide 100 in 50 times
for b= 4 it can divide 100 in 25 times
for b= 5 it can divide 100 in 20 times
for b= 10 it can divide 100 in 10 times

In [16]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''
l=list(range(1,26))
for i in l:
    if i%3==0:
        print(i,'is divisible by 3')
    else:
        print(i,'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''

Mutable: If the value assigned to the object that can be modofied at a particular index then it is mutable.
    Example: coniser list l=[1,2,3]

In [17]:
l=[1,2,3]
l[2]=4  #Here value in list l at index 2 is updated to 4
print(l) # l is updated so list is mutable

[1, 2, 4]

some other examples of mutable data type are set,dictionary.

immutable: If the value that is assigned to variable that cannot be modified at a particular index it is immutable
    Example: String,Tupple

In [22]:
s='week1'
s[-1]=2 #if tried to modify string it will show error as string is immutable data type

TypeError: 'str' object does not support item assignment

In [21]:
#instead of updating the part of assigned value completely reassign value to string.
s='week2'
print(s)

week2